$color-active-bg: #aaa;
@mixin active {
    background: $color-active-bg;
    color: $color-white;
    -webkit-transition: .15s ease-in .1s;
    transition:  .15s ease-out .1s;
}

.r-pagination-warp {
    text-align: center;
    margin: 20px 0px;
    .r-pagination {
        margin: 0px auto;
        list-style: none;
        padding: 0px;
        overflow: hidden;
        display: inline-block;


        li {
            float: left;
            border-radius: 5px;
            padding: 0px 8px;
            font-size: 12px;
            line-height: 20px;
            color: $color-link;
            cursor: pointer;
        }
        .r-active {
            @include active;
        }
    }
}
