$color-header-title-bg: #474a4f;
$color-border: #ddd;
$color-white: #fff;
$color-font: #333;
$color-bg: #f2f2f2;
$color-link: #4990e2;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: $color-bg;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
a {
    text-decoration: none;
    color: initial;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
}
